.page {
    border-radius: 20px 70px 70px 20px;
    min-height: 100vh;
    min-width: 20%;
    box-shadow: 10px 3px 6px rgba(0, 0, 0, 0.16);
    right: 1.6%;
    transition: min-width 0.5s ease, box-shadow 0.5s ease, right 0.5s ease;
}

.page.active {
    min-height: 100vh;
    min-width: 60%;
    border-radius: 20px 70px 70px 20px;
    box-shadow: 10px 5px 6px rgba(0, 0, 0, 0.36);
    right: 1%;
    transition: min-width 0.5s ease, box-shadow 0.5s ease, right 0.5s ease;
}

@font-face {
    font-family: 'Jost';
    src: url('fonts/Jost-Regular.woff2') format('woff2'),
         url('fonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.page-title {
    font-family: 'Jost', sans-serif; /* Use Jost font */
    font-size: 30px;
    border: solid 2px;
    border-color: #686868;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    margin: 55px 45px;
    transition: font-size 0.5s ease, margin 0.5s ease, border-color 0.5s ease;
}

.page-title.active {
    font-family: 'Jost', sans-serif; /* Use Jost font */
    font-size: 50px;
    border: solid 1px;
    border-color: #ffffff;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    margin: 60px 80px;
    transition: font-size 0.5s ease, margin 0.5s ease, border-color 0.5s ease;
}
